* { /*tirar regras do navegador, como a bordinha em cima do header */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh; /* altura minima do elemento / viewport height */
    color: #4b3030;
}
header {
    width: 100%;
    background-color: #6a4444;
    border-bottom: 5px solid #3e2929; /*tracinho debaixo*/
}
.menu {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*o ultimo elemento vai pro lado do primeiro*/
}
.logo a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.links { /* caixa */
    display: flex;
    gap: 30px;
}
.links a { /* texto na caixa: tag na frente para mexer apenas no texto e não na caixa */
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.links a:hover {
    color: #e7c58d;
} 

/*conteudo principal*/

main { 
    width: 90%;
    max-width: 1200px; /* maximo de largura */
    margin: auto; /* centraliza o elemento quando ele tem a largura definina */
}

.inicio {
    text-align: center;
    padding: 70px 20px 50px;
}
.inicio h1 {
    font-size: 55px;
    color: #6a4444;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
.inicio p {
    font-size: 20px;
    color: #765454;
}
.produtos {
    padding-bottom: 70px; 
}
.produtos > h2 {
    text-align: center;
    font-size: 32px;
    color: #6a4444;
    margin-bottom: 35px;
}
article {   
    width: 300px;
    padding: 24px;
    border: 2px solid #6a4444;
    border-radius: 12px;
}
.cards {  /* div dos cards */
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content:center;
}
.card { /* div do card individual */
    width: 300px;
    background-color: #f8e8cc;
    border: 3px solid #6a4444;
    border-radius: 10px;
    box-shadow: 6px 6px 0px #6a4444;    
}
.card:hover {  /* efeito mouse */
    transform: translateY(-5px);
    box-shadow: 8px 8px 0px #4b3030;
    transition: 0.7s;
}
.imgcard {
    width: 100%;
    height: 220px;
    display: block;
    border-bottom: 3px solid #6a4444;
}
.conteudocard {
    padding: 20px;
    text-align: center;
}
.conteudocard h3 {
    font-size: 24px;
    color: #6a4444;
    margin-bottom: 12px;
}
.conteudocard p {
    font-size: 16px;
    line-height: 1.5;  /* altura linha */
    color: #654747;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    background-color: #6a4444;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #4b3030;
    font-weight: bold;
}
.btn:hover {
    background-color: #4b3030;
    transform: scale(1.05);
}
footer {
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: #6a4444;
    color: antiquewhite;
    border-top: 5px solid #3e2929;
}
footer p {
    font-size: 15px;
}
