* { /*tirar regras do navegador, como a bordinha em cima do header */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh; /* altura minima do elemento / viewport height */
    color: #4b3030;
}
header {
    width: 100%;
    background-color: #6a4444;
    border-bottom: 5px solid #3e2929; /*tracinho debaixo*/
}
.menu {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*o ultimo elemento vai pro lado do primeiro*/
}
.logo a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.links { /* caixa */
    display: flex;
    gap: 30px;
}
.links a { /* texto na caixa: tag na frente para mexer apenas no texto e não na caixa */
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.links a:hover {
    color: #e7c58d;
} 

/*conteudo principal*/

main { 
    width: 90%;
    max-width: 1200px; /* maximo de largura */
    margin: auto; /* centraliza o elemento quando ele tem a largura definina */
}

.inicio {
    text-align: center;
    padding: 70px 20px 50px;
}
.inicio h1 {
    font-size: 55px;
    color: #6a4444;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

article {   
    width: 300px;
    padding: 24px;
    border: 2px solid #6a4444;
    border-radius: 12px;
}
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.imgcard {
    width: 100%;
}
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}